@model InvertoryProject.Data.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div>
                <label>
                    <input type="radio" checked="checked" name="selectedOption" value="byamount" onclick="showHideDiv(this)"> Change By Amount
                </label>
                <label>
                    <input type="radio" name="selectedOption" value="bypercentage" onclick="showHideDiv(this)"> Change By Percentage
                </label>
            </div>
            <input type="hidden" id="selectedOption"  value="" />

            <div id="divToShow" style="display:none">

                <div class="form-group">
                    <label  class="control-label">Enter Percentage</label>
                    <input type="number" name="Percentage_change" class="form-control" />
                   
                </div>

            </div>


            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary  btn-block" />
            </div>
        </form>

    </div>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function showHideDiv(radio) {

           // debugger;
            var selectedOption = radio.value;
            var hiddenInput = document.getElementById('selectedOption');
            hiddenInput.value = selectedOption;

            var divToShow = document.getElementById('divToShow');
            
            if (selectedOption == 'bypercentage') {
                divToShow.style.display = 'block';
            } else {
                divToShow.style.display = 'none';
            }
        }
    </script>

}
